

body{
    background-color: #6596c7;
}
.com{
    border: 10px;
    border-bottom-color: #222222;
}

.article{
    border: solid;
    border-radius: 10px;
    border-color: #940e5d;
    text-decoration: none;

}
.article:hover{
    color: #000000;
}

.article:visited{
    color: #000000;
}

.container-fluid_articles{
    background-color: #2db6c7;
    border-radius: 10px;
    border: solid;;
    border-color: #64717b;
}

.well{
    background-color: #64717b;
    padding-left: 20px;
    margin: 30px;
}