h1{
    color: #252578;
    font-family: "Magneto";
    font-weight: bold;
    font-size: 60px;

}

h2{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

h3{
    color: #909090;
    text-align: center;
}
h4{
    font-size: 20px;
    color: #252578;
    text-align: center;
}

hr{
    background: #909090;
    border: 0;
    padding: 2px;
    margin: 0;

}

body{
    background-color: #252578;
}

#header{
    border-bottom: 2px #909090;
    border-top: 2px #909090;
    border-left: 2px #909090;
    border-right: 2px #909090;

}


.container-fluid{
    background-color: #FFFFFF;
    margin-left:  30px;
    margin-right: 30px;
    padding-right: 0;
    padding-left:  0;
}

.nav{
    text-align: center;
    background-color: #252578;

}

.nav-link{
    color: #6bcfff;
    font-size: 20px;

}

.nav-link:hover{
    color: #b4b539;
    background-color: #252578;
    text-decoration: none;

}
