h1{
    color: #252578;
    font-family: "Magneto",serif;
    font-weight: bold;
    font-size: 60px;

}

h2{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

h3{
    color: #909090;
    text-align: center;
}
h4{
    font-size: 20px;
    color: #252578;
    text-align: center;
}



body{
    background-color: #6596c7;

}

iframe{

}

#header{
    border-style: solid;
    border-width: 3px;
    border-color: #2b2a2b;
    border-radius: 10px;
    background-color: #FFFFFF;
}

#content_footer{
    border-style: solid;
    border-width: 3px;
    border-color: #2b2a2b;
    background-color: #FFFFFF;
    border-radius: 10px;

}


.container-fluid{
    background-color: transparent;
    margin-left:  30px;
    margin-right: 30px;
    padding-right: 0;
    padding-left:  0;
    border-radius: 10px;
}

.nav{
    text-align: center;
    background-color: #6596c7;

}

.nav-link{
    color: #2b2a2b;
    font-size: 20px;

}

.nav-link:hover{
    color: #b4b539;
    background-color: #6596c7;
    text-decoration: none;

}

.padding-gp{
    padding-right: 10px;
    padding-left: 10px;

}

.panel-default{
    border-color: #2b2a2b;
}

.panel-default .panel-heading{
    border-color: #2b2a2b;
    background: #2b2a2b;
    color: #ffffff;
}

.panel-default .panel-body {
    color: #2b2a2b;
}

.article_content{
    text-align: right;
    font-size: small;
}

.title_date{
    text-align: right;
    font-size: smaller;
    position: relative;
}


.article_content{
    text-align: center;
    margin: 50px;
    overflow: auto;
}


/* To be modified
.padding-int{
    padding: 2px;
}
#Thomas_home_panel{
    margin-left: 10px;
}
#Benjamin_home_panel{
    margin-right: 10px;
}
*/

