{% extends "layout.html.twig" %}

{% block bundle_body %}
<head>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/tuto.css" rel="stylesheet">
</head>

    <div class="container-fluid">
    <div class="row">
        <h4>Welcome to our creative blog!</h4>
        <div class="col-lg-6">Thomas</div>
        <div class="col-lg-6"> Benjamin</div>
    </div>
</div>


{% endblock %}