{% extends "layout.html.twig" %}

{% block bundle_body %}

<div class="row">
    <div class="panel-group padding-gp">
        <div class="col-lg-6 padding-int">
            <div class="panel panel-default" id="Thomas_home_panel">
                <div class="panel-heading">Thomas</div>
                <div class="panel-body">les musiques</div>
            </div>
        </div>
        <div class="col-lg-6 padding-int">
            <div class="panel panel-default" id="Benjamin_home_panel">
                <div class="panel-heading">Benjamin</div>
                <div class="panel-body">les vidéos</div>
            </div>
        </div>


    </div>
</div>



{% endblock %}