{% extends "layout.html.twig" %}

{% block bundle_body %}

    <div class="container">
        <div class="row">
            <div class="panel-group">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Thomas</div>
                        <div class="panel-body">les musiques</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Benjamin</div>
                        <div class="panel-body">les vidéos</div>
                    </div>
                </div>


            </div>
        </div>
    </div>


{% endblock %}