{% extends "layout.html.twig" %}
{% block bundle_body %}
    <h4>Thomas' Page</h4>
    <br>

    {%  for article in articles %}
        <div class="article" >
            This article were posted on {{ article.date}} <br>
            By {{ article.title }} : <br>
            {{ article.content }}
            <br>
            <br>
            <a href="{{ path('bt_blog_viewArticle',{'id':article.id}) }}"> More...</a>
        </div>
    {% else %} <div class="article">No article</div>
    {% endfor %}

{% endblock %}