{% extends "layout.html.twig" %}
{% block bundle_body %}
    <div class="container-fluid">
        <div>{{ form(media) }}</div>
        <div class="information">For Youtube video use embed link like : embed/HchMW8EhWPU </div>
        <div>{{ form_widget(media.save) }}</div>

    </div>
{% endblock %}